*
{
	text-align: center;
}

.edu-para
{
	font-size: 20px;

}

img
{
	height: 200px;
	width: 200px;
	margin-right: auto;
	margin-left: auto;
}

#uvce_logo
{
	height: 200px;
	width: 250px;
}

.edu-para
{
	text-align: center;
}

#uvce-edu
{
	border-right: 1px solid red;
}

hr
{
	color: red;
}

.card
{
	font-size: 20px;
}

/*@media only screen and (max-width: 600px){

.class*="col-" {
  width: 100%;
}

  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}*/

@media only screen and (min-width: 568px) {
  .card
  {
  	height: 250px;
  }
}


@media only screen and (min-width: 968px) {
  .card
  {
  	height: 250px;
  }
}

@media only screen and (min-width: 1100px) {
  .card
  {
  	height: 220px;
  }
}



