*
{
	text-align: center;
	font-size: 20px;
}

.name
{
	font-size: 32px;
}
.intro-para
{
	font-size: 24px;
}

/*.education
{
	border:2px solid black;
	padding: 25px;
}*/

.edu-para
{
	font-size: 20px;

}

.row
{
	margin-bottom: 10px;
	padding: 10px;
}

img
{
	height: 200px;
	width: 200px;
	margin-right: auto;
	margin-left: auto;
}

#uvce_logo
{
	height: 200px;
	width: 250px;
}


hr
{
	color: red;
}

.card
{
	font-size: 20px;
}

.folder-logo
{
	float: left;
}

@media only screen and (max-width: 567px)
{
	.card-title
	{
		font-size: 20px;
	}

  	.card-para
  	{
  		display: none;
  	}

  	hr
  	{
  		display: none;
  	}
}

@media only screen and (min-width: 568px) {

	.card
	{
		height: 250px;
	}
/*  	.card-para
  	{
  		display: none;
  	}*/


}


@media only screen and (min-width: 968px) {
	.card
	{
	 	height: 200px;
	}
}

@media only screen and (min-width: 1100px) {
  	.card
  	{
  		height: 220px;
  	}
}



