{% block intro %}

<div class="container-fluid" id="intro">
	<div class="container">
		<h1 class="mt-5">
			About Me
		</h1>
		<div class="row">
			<div class="col-12">
				<p class="intro-para mt-1">
					I am a third semester Engineering student, pursuing Btech(hons) in Computer science from
					UVCE, Bangalore. I am also enrolled in the Bsc in data science program offered by IIT Madras. <br>
					I love coding, fighter jets and good music...
				</p> 
			</div>
		</div>
	</div>
</div>

	
{% endblock intro %}