{% block projects%}
<div class="container-fluid"  id="github-projects">
	<div class="container"></div>
<div class="projects">
		<h1>
			My Projects
		</h1>
		<div class="row">
			<div class="col-12 col-md-6 mt-3"> 
				<div class="card">
					<div class="card-body">
						<h4 class="card-title">
							<a href="https://github.com/sksDonni/programmers_diary"><i class="fa fa-folder folder-logo" aria-hidden="true"></i></a>
							Programmer's Diary
						</h4>
						<hr>
						<p class="card-para">
							A PYQT5 application which acts as a notebook to record important bugs and problems for future reference.
						</p>
					</div>
				</div>
			</div>

			<div class="col-12 col-md-6 mt-3">
				<div class="card">
					<div class="card-body">
						<h4 class="card-title">
							<a href="https://github.com/sksDonni/portfolio_website"><i class="fa fa-folder folder-logo" aria-hidden="true"></i></a>
							Portfolio Website
						</h4>
						<hr>
						<p class="card-para">
							The website you are going through right now. Nothing fancy.
						</p>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-12 col-md-6 mt-3">
				<div class="card">
					<div class="card-body">
						<h4 class="card-title">
							<a href="https://github.com/sksDonni/Tkinter_Projects/tree/master/japaneseRevision"><i class="fa fa-folder folder-logo" aria-hidden="true"></i></a>
							Japanese Revision application
						</h4>
						<hr>
						<p class="card-para">
							A PYQT5 desktop application which helps Japanese learners revise alpahbet, study Kanji and vocabulary
						</p>
					</div>
				</div>
			</div>

			<div class="col-12 col-md-6 mt-3">
				<div class="card">
					<div class="card-body">
						<h4 class="card-title">
							<i class="fa fa-folder folder-logo" aria-hidden="true"></i>
							Flask Blog app
						</h4>
						<hr>
						<p class="card-para">
							A personal blog app built using flask and sqlite3 to voice my political opinions. 
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
			<div class="col-12 col-md-6 mt-3"> 
				<div class="card">
					<div class="card-body">
						<h4 class="card-title">
							<a href="https://github.com/sksDonni/programmers_diary"><i class="fa fa-folder folder-logo" aria-hidden="true"></i></a>
							Django School website
						</h4>
						<hr>
						<p class="card-para">
							A website for the school I studied in for almost 5 years. Built using Django and mysql.
						</p>
					</div>
				</div>
			</div>

			<div class="col-12 col-md-6 mt-3">
				<div class="card">
					<div class="card-body">
						<h4 class="card-title">
							<a href="https://github.com/sksDonni/portfolio_website"><i class="fa fa-folder folder-logo" aria-hidden="true"></i></a>
							Work manager
						</h4>
						<hr>
						<p class="card-para">
							My dream project, to build a companion application which can help me use the most of my time. Still in ideation phase.
						</p>
					</div>
				</div>
			</div>
		</div>


		<div class="row">
			<div class="col-12 col-md-6 mt-3"> 
				<div class="card">
					<div class="card-body">
						<h4 class="card-title">
							<a href="https://github.com/sksDonni/programmers_diary"><i class="fa fa-folder folder-logo" aria-hidden="true"></i></a>
							PCMB for all
						</h4>
						<hr>
						<p class="card-para">
							A community based project to make training for competitive exams free for all. 
						</p>
					</div>
				</div>
			</div>

			<div class="col-12 col-md-6 mt-3">
				<div class="card">
					<div class="card-body">
						<h4 class="card-title">
							<a href="https://github.com/sksDonni/portfolio_website"><i class="fa fa-folder folder-logo" aria-hidden="true"></i></a>
							My open source contributions
						</h4>
						<hr>
						<p class="card-para">
							Just trying to be a small part in the open source community 
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock projects %}